@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body {
  background-color: #0E050F;

  display: flex;
  justify-content: center;
  margin: 0;

  overflow: hidden;
}

.upperBar {
  top: 0;
  margin: 0;

  width: 100%;
  height: 40px;

  background: #9388A2;
  position: fixed;

  z-index: 1;
}

.upperBarText {
  font-family: "Dancing Script", "cursive";

  margin: 8px;
  font-size: 32px;
}

.transitionBlackScreen {
  position: absolute;
  background-color: #000000;

  width: 1920px;
  height: 1080px;

  z-index: 999;

  transition: all 0.5s;
  transform: translateX(1920px);
}

.transitionedBlackScreen {
  transform: translateX(0);
}

.DatRat {
  transition: all 0.5s;
}

.DatRat:hover {
  cursor: pointer;
  color: #8400ff;
  transition: all 0.5s;
}

.DatRat:active {
  color: #240046;

  transition: all 0.05s ease-in-out;
}

.mobileOnlyText {
  z-index: -100;
}

/* Menu Icon & Animation */
.container {
  display: inline-block;
  cursor: pointer;
  z-index: 3;

  position: absolute;

  right: 6px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.3s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}
/* Menu Icon & Animation */

@media only screen and (hover: none) and (pointer: coarse) {
  .transitionBlackScreen {
    width: 4096px;
    height: 4096px;

    transition: all 0.5s;
    transform: translateX(0);
  }
  .mobileOnlyText {
    color: #FFFFFF;
    font-family: "Dancing Script", "cursive";
    letter-spacing: 4px;
    font-size: 120px;
    
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -200px;

    z-index: 1000;
  }
}

.sideBar {
  right: 0;
  margin: 0;

  width: 240px;
  height: 100%;

  background: #9388A2;
  position: fixed;

  z-index: 0;

  transition: all 0.3s ease-in-out;

  transform: translateX(300px);
}

.change1 {
  transform: translateX(0);
}

.githubIcon, .discordIcon, .steamIcon {
  position: fixed;

  height: 32px;
  width: 32px;

  bottom: 8px;

  cursor: pointer;
  transition: all 0.2s;
}

.githubIcon {
  left: 64px;
}

.discordIcon {
  left: 144px;
}

.steamIcon {
  left: 105px;
  border-radius: 50%;
}

.githubIcon:hover, .discordIcon:hover, .steamIcon:hover {
  bottom: 6px;
}

.githubIcon:active, .discordIcon:active, .steamIcon:active {
  bottom: 2px;
}