body {
  font-family: 'Whitney SSm A', Arial;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;

  background-image: url("https://cdn.discordapp.com/attachments/442095580622356491/880939891318472794/wp6837854.png");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: #ffffff;
  text-align: top;
  text-shadow: 0 0 15px #000000;
  margin: 2px;
}

img {
  padding-top: 0.5%;
  width: 128px;
  height: 128px;
}

.divImgs {
  flex-direction: row;
}

.quieres {
  height: 200px;
}

.divBorder {
  background-image: url("https://cdn.discordapp.com/attachments/442095580622356491/880932084129103882/unknown.png");
  background-repeat: no-repeat;
  background-size: cover;

  border: 2px dashed #000000;
  border-radius: 20px;
  width: 500px;
  height: 300px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-bottom: 0.5%;

  box-shadow: 0 0 15px #000000;
}

.button, .outdatedButton, .repoButton {
	background-color:#ffffff;
	border-radius:17px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 39px;
	text-decoration:none;

}

.button:hover, .outdatedButton:hover, .repoButton:hover {
  color:#FFFFFF;
	background-color:#000000;
  transition: all 0.2s;
}

.button:active {
	position:relative;
	top:1px;
}

.junto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-bottom: 2%;
}

.outdatedButton {
  position: absolute;
  bottom: 1%;
}

.repoButton {
  position: absolute;
  bottom: 7%;
}

.repoButton:active {
  top: 88.3%;
}

.outdatedButton:active {
	top: 94.3%;
}

.setinhaBraba {
  position: absolute;
  left: 36.5%;
  bottom: 30%;
  transform: rotate(50deg) ;
}

.setinhaBraba2 {
  position: absolute;
  left: 50%;
  bottom: 39%;
  transform: scaleX(-1) rotate(100deg);
}

.ad1 {
  width: auto;
  height: auto;
}

.a1 {
  position: absolute;
  left: 1%;
  cursor: pointer;
}

.ad2 {
  width: auto;
  height: auto;
}

.a2 {
  position: absolute;
  right: 1%;
  cursor: pointer;
}