body {
  /* background: linear-gradient(265deg, #e4d008 10%, #ff9000 50%, #b51f1f 100%); */
  background-image: url("https://cdn.discordapp.com/attachments/657560080023289887/883472757470400552/2334886.png");
  background-repeat: no-repeat;
  background-size: cover;

  font-family: 'Whitney SSm A', Arial;
  color: #FFFFFF;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.divBorder {
  border: 2px double #ffffff;
  border-radius: 20px;
  width: 90%;
  height: 80%;

  backdrop-filter: blur(4px);

  box-shadow: 0 0 2px #000000;
}

.topHeader {
  padding-left: 0.8%;
  padding-top: 0.8%;

  font-size: 24px;
}

.desc {
  padding-left: 0.8%;

  text-indent: 8px;
}

code {
  display: block;
  text-align: center;

  border-radius: 8px;

  margin: 8px auto;

  background-color: #000000;
  border: 1px solid #999;

  padding: 2px;
  padding-bottom: 3px !important;

  width: fit-content;
  height: fit-content;
}

.bono {
  width: 128px;
  height: 128px;

  padding-left: 1%;
}